parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #2 of function sprintf is expected to be __stringandstringable by placeholder #1 ("%%s"), string|false|null given.'
			identifier: argument.type
			count: 1
			path: src/Command/RunGameCommand.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertSame() with 2 and 2 will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Functional/PlaceholderTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertSame() with 2 and 2 will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/PlaceholderTest.php
